.imagem1{
    background-image: url(https://i.imgur.com/2EausmP.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.caixa{
    background-image: url(https://i.imgur.com/MYakXPi.jpg);
}    
.titulo{
    color: white !important;
    font-Weight: bold !important;
}
.botao{
    border-color: white !important;
    background-color: #420f0c !important;
    color: white !important;
}
.postagens{
    background-color: white;
}
