.img{
    width: 80vh;
    height: 100vh;
    display:block;
    margin-left: 22%;
    margin-right: auto;
}
.caixa{
    background-color:#D9846F !important;
}
.titulo{
    color: white !important;
    font-Weight: bold !important;
}
.botao{
    border-color: white !important;
    background-color: #2D232B !important;
    color: white !important;
}
.postagens{
    background-color: white;
}
